<head>
    <meta charset="utf-8" />
    <title>HELLO BANG</title>
</head>

<body>
    <h2>LAYANAN INI DARI: {{IP}} on: {{hostname}}</h2>
    <h3>
        <a href="https://chat.whatsapp.com/BCRYFWTz2ui4n151jo0tAl" target="_blank">Wanna have a try?</a>
    </h3>
    <a href="https://ibb.co/684GSm9" target="_blank"><img
            src="https://i.ibb.co/jzLqYT0/Whats-App-Image-2023-09-10-at-00-26-39.jpg" width="640" height="640" /></a>
    <p>
        {% if logs|length > 0%}
        {% for log in logs %}
        <br> {{log}}
        {% endfor %}
        {% endif %}
    </p>

</body>

</html>
